<div class="masthead-wrapper" style="display: flex;">
  <header>
    <!-- Menu -->
    {% include nav-2025.html %}
  </header>
  <div class="masthead">
    <div class="logo">
      <img src="https://drive.google.com/thumbnail?id=1r3UNcyHcRugkXUR1KBPrLLglqLMedolC" id="dbotz" /><br />
    </div>
    <p class="tagline">BURLINGTON MA FIRST ROBOTICS TEAM</caption>
  </div>
  <div class="frc-logo">
    <a href="https://firstinspires.org" target="_blank"><img src="https://drive.google.com/thumbnail?id=1j9R3Rh_hPGeecJsAwcjrxnWD1G1QBKaF&sz=w50" title="FIRST Inspires logo"/></a>
  </div>
</div>
