<nav class="menu">
  <ul>
    <li><a href=".">Home</a></li>
    <li><a href="#">About <span role="decoration">&#9660;</span></a>
      <div class="sub-menu">
        <ul>
          <li><a href="{{ site.baseurl }}/first">FIRST</a></li>
          <li><a href="{{ site.baseurl }}/our-team">Our Team</a></li>
          <li><a href="{{ site.baseurl }}/mentors">Our Mentors</a></li>
          <li><a href="{{ site.baseurl }}/our-competitions">Our Competitions</a></li>
          <li><a href="{{ site.baseurl }}/outreach">Outreach</a></li>
          <li><a href="{{ site.baseurl }}/contact">Contact Us</a></li>
          <!-- <li><a href="{{ site.baseurl }}/devilbotz-new-member-registration">Registration</a></li> -->
        </ul>
      </div>
    </li>
    <li><a href=".">Blog</a></li>
    <li>
      <a title="How to help fund the Devilbotz" href="#">Sponsors <span role="decoration">&#9660;</span></a>
      <div class="sub-menu">
        <ul>
          <li><a href="{{ site.baseurl }}/sponsors/">Our Sponsors</a></li>
          <li><a href="{{ site.baseurl }}/sponsorship-levels">Sponsorship Levels</a></li>
          <li><a title="How to Help Us Make It To World's" href="{{ site.baseurl }}/how-to-donate">How to Help</a></li>
        </ul>
      </div>
    </li>
    <li><a href="#">Resources <span role="decoration">&#9660;</span></a>
      <div class="sub-menu">
        <ul>
          <li><a href="{{ site.baseurl }}/links">Links</a></li>
          <li><a href="{{ site.baseurl }}/calendar">Calendar</a></li>
          <li><a target="_blank" href="https://www.facebook.com/pg/team2876/photos/">Photo Gallery</a></li>
          <li><a target="_blank" href="http://www.youtube.com/user/bhsrobotix2876">YouTube Channel</a></li>
          <li><a href="https://www.facebook.com/team2876/timeline?ref=page_internal">Facebook</a></li>
          <li><a href="https://www.instagram.com/bhsrobotix2876/">Instagram</a></li>
          <li><a href="https://twitter.com/bhsrobotix">Twitter</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
