<!-- Menu -->
<nav class="main-navigation menu" id="primary-menu">
  <input class="side-menu" type="checkbox" id="side-menu"/>
  <!-- Hamburger icon -->
  <label class="hamb" for="side-menu"><span class="menu-toggle"></span></label>

  <ul class="mobile-menu">
    <li><a href="{{ site.baseurl }}">Home</a></li>
    <li><a href="#">About <span role="decoration" class="sub-arrow"></span></a>
      <div class="sub-menu">
        <ul>
          <li><a href="{{ site.baseurl }}/pages/about/FIRST">FIRST</a></li>
          <li><a href="{{ site.baseurl }}/pages/about/our-team">Our Team</a></li>
          <li><a href="{{ site.baseurl }}/pages/about/mentors">Our Mentors</a></li>
          <li><a href="{{ site.baseurl }}/pages/about/our-competitions">Our Competitions</a></li>
          <li><a href="{{ site.baseurl }}/pages/about/outreach">Outreach</a></li>
          <li><a href="{{ site.baseurl }}/pages/about/contact">Contact Us</a></li>
          <!-- <li><a href="{{ site.baseurl }}/devilbotz-new-member-registration">Registration</a></li> -->
        </ul>
      </div>
    </li>
    <li><a href="{{ site.baseurl }}/blog/"}>Blog</a></li>
    <li>
      <a title="How to help fund the Devilbotz" href="#">Sponsors <span role="decoration">&#9660;</span></a>
      <div class="sub-menu">
        <ul>
          <li><a href="{{ site.baseurl }}/pages/sponsors/our-sponsors">Our Sponsors</a></li>
          <li><a href="{{ site.baseurl }}/pages/sponsors/sponsorship-levels">Sponsorship Levels</a></li>
          <li><a title="How to Help Us Make It To World's" href="{{ site.baseurl }}/pages/sponsors/how-to-help">How to Help</a></li>
        </ul>
      </div>
    </li>
    <li><a href="#">Resources <span role="decoration">&#9660;</span></a>
      <div class="sub-menu">
        <ul>
          <li><a href="{{ site.baseurl }}/pages/resources/links">Links</a></li>
          <li><a href="{{ site.baseurl }}/pages/resources/calendar">Calendar</a></li>
          <li><a target="_blank" href="https://www.facebook.com/pg/team2876/photos/">Photo Gallery</a></li>
          <li><a target="_blank" href="http://www.youtube.com/user/bhsrobotix2876">YouTube Channel</a></li>
          <li><a href="https://www.facebook.com/team2876/timeline?ref=page_internal">Facebook</a></li>
          <li><a href="https://www.instagram.com/bhsrobotix2876/">Instagram</a></li>
          <li><a href="https://twitter.com/bhsrobotix">Twitter</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
