<nav class="main-navigation" id="site-navigation" aria-label="Primary"  itemtype="https://schema.org/SiteNavigationElement" itemscope>
  <div class="inside-navigation">
    <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">
      <span class="mobile-menu">Menu</span>
    </button>
    <div id="primary-menu" class="main-nav">
      <ul id="menu" class="menu sf-menu">
        <li class="menu-item"><a href="{{ site.baseurl }}">Home</a></li>
        <li class="menu-item menu-item-has-children"><a href="#">About<span role="presentation" class="dropdown-menu-toggle"></span></a>
          <ul class="sub-menu">
            <li id="menu-item-first" class="menu-item"><a href="{{ site.baseurl}}/first">FIRST</a></li>
            <li id="menu-item-team" class="menu-item"><a href="{{ site.baseurl}}/ourteam">Our Team</a></li>
            <li id="menu-item-mentors" class="menu-item"><a href="{{ site.baseurl}}/mentors">Our Mentors</a></li>
            <li id="menu-item-comps" class="menu-item"><a href="{{ site.baseurl}}/our-competitions">Our Competitions</a></li>
            <li id="menu-item-outreach" class="menu-item"><a href="{{ site.baseurl}}/outreach">Outreach</a></li>
            <li id="menu-item-contact" class="menu-item"><a href="{{ site.baseurl}}/contact">Contact Us</a></li>
            <li id="menu-item-register" class="menu-item"><a href="{{ site.baseurl}}/devilbotz-new-member-registration">Registration</a></li>
          </ul>
        </li>
        <li class="menu-item"><a href="{{ site.baseurl }}">Blog</a></li>
        <li class="menu-item menu-item-has-children">
          <a title="How to help fund the Devilbotz" href="#">Sponsors<span role="presentation" class="dropdown-menu-toggle"></span></a>
          <ul class="sub-menu">
            <li class="menu-item"><a href="{{ site.baseurl}}/sponsors/">Our Sponsors</a></li>
            <li class="menu-item"><a href="{{ site.baseurl}}/sponsorship-levels">Sponsorship Levels</a></li>
            <li class="menu-item"><a title="How to Help Us Make It To World's" href="{{ site.baseurl}}/how-to-donate">How to Help</a></li>
          </ul>
        </li>
        <li class="menu-item menu-item-has-children"><a href="#">Resources<span role="presentation" class="dropdown-menu-toggle"></span></a>
          <ul class="sub-menu">
            <li class="menu-item"><a href="{{ site.baseurl}}/links">Links</a></li>
            <li class="menu-item"><a href="{{ site.baseurl}}/bs-calendar">Calendar</a></li>
            <li class="menu-item"><a target="_blank" href="https://www.facebook.com/pg/team2876/photos/">Photo Gallery</a></li>
            <li class="menu-item"><a target="_blank" href="http://www.youtube.com/user/bhsrobotix2876">YouTube Channel</a></li>
            <li class="menu-item"><a href="https://www.facebook.com/team2876/timeline?ref=page_internal">Facebook</a></li>
            <li class="menu-item"><a href="https://www.instagram.com/bhsrobotix2876/">Instagram</a></li>
            <li class="menu-item"><a href="https://twitter.com/bhsrobotix">Twitter</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>