<div class="widget-area sidebar is-right-sidebar grid-25 tablet-grid-25 grid-parent" id="right-sidebar">
  <div class="inside-right-sidebar">
    <div class="textwidget">
      <div id="calendar-sidebar">
        <h6>Team Calendar</h6>
        <iframe src="https://calendar.google.com/calendar/embed?title=Upcoming%20events&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=300&amp;wkst=1&amp;src=bhsrobotix2876%40gmail.com&amp;ctz=America%2FNew_York" style="border-width:0" width="220" height="300" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>
    {% if layout.type == "list" %}
      {%  %}
    {% elsif layout.type != "post" %}
      {% include recent-posts-five.html %}
    {% else %}
      {% include recent-posts.html %}
    {% endif %}
  </div>
</div>
