html {
  background-color: #fff;
}
body {
  max-width: 1200px;
  line-height: 1.3;
  margin: 0 auto;
  color: #3a3a3a;
}

h1 {
  font-weight: 300;
  font-size: 40px;

  &.entry-title {
    font-size: 24px;
    color: #900;

    &:before {
      content: '«';
    }

    &:after {
      content: '»';
    }
  }
}

h2 {
  font-weight: 300;
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: inherit;
  margin: 1rem 0 .7rem;
  font-weight: bold;
}

h5 {
  font-size: inherit;
}

blockquote {
  > p:first-child::before {
    content: "“";
    font-size: 150%;
    font-weight: bold;
    display: inline;
    padding-right: 3px;
    line-height: 1;
  }

  > p:last-of-type::after{
    content: "”";
    font-size: 150%;
    font-weight: bold;
    display: inline;
    padding-left: 2px;
    position: absolute;
    line-height: 1;
  }

  footer::after {
    content: "→";
    display: inline-block;
    padding-left: .5em;
  }
}

.social-links-menu {
  list-style-type: none;

  li {
    background-color: #222;
    border-radius: 2px;
    color: #fff;
    padding: .2rem .4rem;
    display: inline-block;

    &:hover,
    &:focus {
      background-color: #999;
    }

    a,
    a:visited {
      color: #fff !important;
    }
  }
}

li:focus > a,
li:active > a,
li:hover > a {
  color: #AA0000 !important;
}

.copyright-bar {
  background-color: #222;
  color: white;
  font-size: 14px;
  padding: 2em;
  margin-top: 2em;
}

article {
  ul, ol {
    margin-left: 1.5rem;
    list-style-position: outside;
  }
  li {
    margin: .5rem 0;
  }
  
  .recent {
    padding: 6px;
    h2 {
      margin: 0;
    }
    ul {
      margin-left: 0;
    }
  }
}

.with-bg .col-md-3 {
  background-color: #ebebeb;
  padding: 1rem;
  text-align: center;
}

a {
  color: #1e73be;

  &:visited {
    color: #6e0a96;
  }

  &:hover,
  &:focus,
  &:active {
    color: #a50d0d;
  }
}

.generate-back-to-top {
  font-size: 20px;
  border-radius: 3px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  line-height: 40px;
  width: 40px;
  text-align: center;
  z-index: 10;
  transition: opacity 300ms ease-in-out;
}

body,
button,
input,
select,
textarea {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.button-external {
  background-color: #c4d1ef;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: .5em;
  text-align: center;
}

p {
  margin-bottom: 1.3em;
}

.sidebar .widget {
  font-size: 17px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea,
select {
  color: #666666;
  background-color: #fafafa;
  border-color: #cccccc;

  &:focus {
    color: #666666;
    background-color: #ffffff;
    border-color: #bfbfbf;  
  }
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
a.button {
  color: #ffffff;
  background-color: #666666;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #3f3f3f;  
  }
}

a.generate-back-to-top {
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;  
  }
}

/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */

@media (max-width:768px) {

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 25px;
  }
}
