<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }} - {{ site.description }}</title>

    {% include meta.html %}
  </head>

  <body>
    {% include masthead-2025.html %}

    <div id="main" role="main" class="container">
    {% if layout.type == "post" %}
      <!-- layout type is {% layout.type %} -->
      {% include sidebar-plus-recent.html %}
      {% elsif layout.type == "static" or layout.type == "list" %}
      <!-- layout type is {% layout.type %} -->
      {% include sidebar.html %}
    {% else %}
      {% include sidebar-plus-recent.html %}
    {% endif %}

      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
      {% include copyright.html %}
    </div>

    <!-- <a title="Scroll back to top" aria-label="Scroll back to top" rel="nofollow" href="#" class="generate-back-to-top" style="opacity:0;visibility:hidden;" data-scroll-speed="400" data-start-scroll="300"></a> -->

    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>

    <script>
      function openClose() {
        this.parentElement.classList.toggle('open');
      }
      document.querySelector('#calendar-sidebar h6').addEventListener('click', openClose);
	  </script>

    <!-- <script type='text/javascript' src='includes/js/back-to-top.min.js?ver=3.1.0'></script> -->

  </body>
</html>
